<%= form_for([@event, @event.comments.build]) do |f| %>

    <br>
    <div class="md-form">
      <%= f.label :commenter %><br>
      <%= f.text_field :commenter, value: current_user.name %>
    </div>
    <div class="md-form">
      <%= f.label :body %><br>
      <%= f.text_field :body %>
    </div>
    <p>
      <%= f.submit class: "btn btn-primary"%>
    </p>


<% end %>