<%= render 'layouts/header' %>

<br><br>


<div class="container">
  <!--First row-->
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h1 class="h1-responsive">
          <%= @user.name %>
        </h1>
        <p>Department: <%= @user.department %></p>
      </div>

      <div class="jumbotron">
        <h2 class="h2-responsive">
          Attending
        </h2>

        <p>
          <%= render 'attending' %>

        </p>

      </div>

      <div class="jumbotron">
        <h2 class="h2-responsive">
          Hosting
        </h2>

        <p>
        <%= render 'hosting' %>

        </p>

      </div>

    </div>
  </div>

</div>