<%= form_for @event do |f| %>

    <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@event.errors.count, "error") %>
            prohibited this event from being saved:
          </h2>
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="jumbotron">
    <h3>Title and description</h3>


    <div class="md-form">
      <%= f.label :title, value: "Event title"%>
      <br>
      <%= f.text_field :title%>
    </div>

    <div class="md-form">
      <%= f.label :text, value: "Description" %>
      <br>
      <%= f.text_field :text%>
    </div>
    </div>

    <div class="jumbotron">
    <div class="display-section">
      <h3>Location</h3>
    </div>
    <input id="pac-input" class="controls" type="text"
           placeholder="Enter a location">
    <div id="map">
    </div>

    <br>
    <div class="md-form">
      <%= f.label :street, value: "Street name" %>
      <br>
      <%= f.text_field :street %>
    </div>

    <div class="md-form">
      <%= f.label :street_number, value: "Street number or house" %>
      <br>
      <%= f.text_field :street_number %>
    </div>

    <div class="md-form">
      <%= f.label :city, value: "City" %>
      <br>
      <%= f.text_field :city %>
    </div>
      </div>

      <div class="jumbotron">
    <h3>Date and time, category and # of tickets</h3>

    <p>
      <%= f.label :start_time%>
      <br>
      <%= f.time_select :start_time%>
      <br>
      <%= f.label :start_date%>
      <br>
      <%= f.date_select :start_date, :start_year => 1900%>

    </p>

    <p>
      <%= f.label :end_time%>
      <br>
      <%= f.time_select :end_time%>
      <br>
      <%= f.label :end_date %>
      <br>
      <%= f.date_select :end_date%>
    </p>

    <br>
    <div class="md-form">
      <%= f.label :available_tickets, value: "Tickets" %>
      <br>
      <%= f.number_field :available_tickets%>
    </div>

    <p>
      <%= f.label "Category" %>
      <br>
      <%= f.select(:category, options_for_select([["Study session", "Study session"], ["Group meeting", "Group meeting"],
                                                 ["Guest talk", "Guest talk"], ["Other", "Other"]]))%>
    </p>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <p class="lead">
            <%= f.submit 'Create', class: "btn btn-primary" %>
          </p>
        </div>
      </div>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUHGDBmVqTToBoTTppgJBDjY3ESGLmItQ&libraries=places&callback=initMap"
            async defer></script>

<% end %>