<%= form_for @event do |f| %>

    <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@event.errors.count, "error") %>
            prohibited this event from being saved:
          </h2>
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <head>
      <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
      <meta charset="utf-8">
      <link href="../../assets/stylesheets/events.scss" rel="stylesheet">
    </head>

    <p>
      <%= f.label :title %>
      <br>
      <%= f.text_field :title %>
    </p>

    <p>
      <%= f.label :text %>
      <br>
      <%= f.text_area :text %>
    </p>

    <p>

    </p>

    <div class="display-section">
      <h3>Location</h3>
    </div>
    <input id="pac-input" class="controls" type="text"
           placeholder="Enter a location">
    <div id="type-selector" class="controls">
      <input type="radio" name="type" id="changetype-all" checked="checked">
      <label for="changetype-all">All</label>

      <input type="radio" name="type" id="changetype-establishment">
      <label for="changetype-establishment">Establishments</label>

      <input type="radio" name="type" id="changetype-address">
      <label for="changetype-address">Addresses</label>

      <input type="radio" name="type" id="changetype-geocode">
      <label for="changetype-geocode">Geocodes</label>
    </div>
    <div id="map"></div>

    <p>
      <%= f.submit %>
    </p>

    <script src="../../assets/javascripts/events.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUHGDBmVqTToBoTTppgJBDjY3ESGLmItQ&libraries=places&callback=initMap"
            async defer></script>

<% end %>