<%= form_for @event do |f| %>

    <% if @event.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@event.errors.count, "error") %>
            prohibited this event from being saved:
          </h2>
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <head>
      <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
      <meta charset="utf-8">
      <link href="../../assets/stylesheets/events.scss" rel="stylesheet">
    </head>

    <h3>Title and description</h3>

    <p>
      <%= f.label :title%>
      <br>
      <%= f.text_field :title, :value => "Sean's birthday party" %>
    </p>

    <p>
      <%= f.label :text %>
      <br>
      <%= f.text_field :text, :value => "We're coming together to celebrate Sean turning 21" %>
    </p>

    <!--<div class="display-section">-->
      <!--<h3>Location</h3>-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;<input id="pac-input" class="controls" type="text"&ndash;&gt;-->
           <!--&lt;!&ndash;placeholder="Enter a location">&ndash;&gt;-->
    <!--&lt;!&ndash;<div id="map">&ndash;&gt;-->
    <!--</div>-->

    <p>
      <%= f.label :street %>
      <br>
      <%= f.text_field :street, :value => "Euston Road" %>
    </p>

    <p>
      <%= f.label :street_number %>
      <br>
      <%= f.text_field :street_number, :value => "321, Lizmans House Flat 7"%>
    </p>

    <p>
      <%= f.label :city %>
      <br>
      <%= f.text_field :city, :value => "London"%>
    </p>

    <h3>Date and time, category and # of tickets</h3>
    <p>
      <%= f.label :start_date%>
      <br>
      <%= f.date_select :start_date, :start_year => 1900%>
    </p>

    <p>
      <%= f.label :start_time%>
      <br>
      <%= f.time_select :start_time%>
    </p>

    <p>
      <%= f.label :end_date %>
      <br>
      <%= f.date_select :end_date%>
    </p>

    <p>
      <%= f.label :end_time%>
      <br>
      <%= f.time_select :end_time%>
    </p>

    <p>

      <%= f.label :tickets %>
      <br>
      <%= f.number_field :tickets%>
    </p>

        <label>Category:
          <select name="category">
            <option selected disabled>Select</option>
            <option value="category1">Category1</option>
            <option value="category2">Category2</option>
          </select>
        </label><br><br>


    <p>
      <%= f.submit 'Create' %>
    </p>

    <script src="../../assets/javascripts/events.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUHGDBmVqTToBoTTppgJBDjY3ESGLmItQ&libraries=places&callback=initMap"
            async defer></script>

<% end %>