<!--Navbar-->
<%= render 'layouts/header' %>
<!--/.Navbar-->
<br><br>
<main>

  <!--Main layout-->
  <div class="container">
    <!--First row-->
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h2 class="h2-responsive">Booking @ UCL</h2>
          <br>
          <p>Stuff stuff</p>
          <hr>
          <p>Other stuff stuff</p>
          <p class="lead">
          <%= link_to new_event_path, :class => "btn btn-primary" do %>
            New Event
          <% end %>
          </p>
        </div>
      </div>
    </div>
    <!--/.First row-->

    <hr class="extra-margins">

    <!--Second row-->

    <div class="row">
      <% @events.each do |event| %>
          <!--First columnn-->
          <div class="col-md-4">
            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay hm-white-slight">
                <img src="http://mdbootstrap.com/images/regular/city/img%20(2).jpg" class="img-fluid" alt="">
              </div>
              <!--/.Card image-->

              <!--Card content-->
              <div class="card-block">
                <!--Title-->
                <h4 class="card-title"><%= event.title %></h4>
                <!--Text-->
                <p class="card-text"><%= event.text %></p>
                <p>Where? <%= event.street %>, <%= event.city %> </p>

                <%= link_to event_path(event), :class => "btn btn-primary" do %>
                    Read more
                <% end %>
              </div>
              <!--/.Card content-->

            </div>
            <!--/.Card-->
          </div>
          <!--First columnn-->
      <% end %>

    </div>

    <!--/.Second row-->
  </div>
  <!--/.Main layout-->

</main>
