<!--Navbar-->
<%= render 'layouts/header' %>
<!--/.Navbar-->
<br><br>
<main>

  <!--Main layout-->
  <div class="container">
    <!--First row-->
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h2 class="h2-responsive">Booking @ UCL</h2>

          <p class="lead">
          <%= link_to new_event_path, :class => "btn btn-primary" do %>
            New Event
          <% end %>
          </p>
        </div>
      </div>
    </div>
    <!--/.First row-->

    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h2 class="h2-responsive">Search</h2>
          <br>

          <%= form_tag(events_path, :method => "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search Events (title or category)" %>
              <br><br>
              <%= submit_tag "Search" %>
          <% end %>

          <br>


        </div>

      </div>
    </div>

    <div class="row">
          <% if @events.present? %>
              <%= render 'search' %>
          <% else %>
              <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
          <% end %>
    </div>


    <!--/.Second row-->
  </div>
  <!--/.Main layout-->

</main>
