<!--Navbar-->
<%= render 'layouts/header' %>
<!--/.Navbar-->
<br><br>
<!--Jumbotron-->
<div class="jumbotron-col-lg-6-col-centered">
  <h1 class="h1-responsive">Listing Events</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-2">
  <% @events.each do |event| %>
      <tr>
        <td><%= event.title %></td>
        <br>
        <td><%= event.text %></td>
        <br>
        <td><%= link_to 'Show', event_path(event) %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event_path(event), method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr><br><br>
  <% end %>
  <p class="lead">
    <a class="btn btn-primary btn-lg" role="button" href="events/new/">New event</a>
  </p>
</div>
<!--/.Jumbotron-->


<p></p>
<%= link_to 'Home', root_path %>
<%= link_to 'New', new_event_path %>