<!--Navbar-->
<%= render 'layouts/header' %>
<!--/.Navbar-->
<br><br>
<main>

<div class="container">
  <!--First row-->
  <div class="row">
    <div class="col-md-12">
      <div class="jumbotron">
        <h2 class="h2-responsive"><%= @event.title %></h2>
        <br>
        <p><%= @event.text %></p>
        <hr>

        <h2 class="h2-responsive">Location (want to plot on Google Maps)</h2>
        <p><%= @event.street %>, <%= @event.street_number %></p>
        <p><%= @event.city %></p>
        <br>
        <h2 class="h2-responsive">Time</h2>
        <p>From: <%= @event.start_date.to_date %>, <%= @event.start_time.strftime("%I:%M%p") %></p>
        <p>To: <%= @event.end_date.to_date %>, <%= @event.end_time.strftime("%I:%M%p") %></p>
        <br>

        <h2>Comments</h2>
        <%= render @event.comments %>

        <h2>Add a comment:</h2>
        <%= render 'comments/form' %>
        <p class="lead">
          <%= link_to edit_event_path(@event), :class => "btn btn-primary" do %>
              Edit event
          <% end %>
          <%= link_to events_path, :class => "btn btn-primary" do %>
              Back
          <% end %>

          <!-- THIS IS THE ERROR-CAUSING SECTION -->
          <%= link_to events_path, :class => "btn btn-primary" do %>
              <% if current_user.present? %>
                  <% event = Event.find(@event) %>
                  <% event.user_id = "test" %>
                  <% event.save %>

              <% end %>
              Book ticket
          <% end %>

        </p>
      </div>
    </div>
  </div>
</div>

</main>

