<!--Navbar-->
<%= render 'layouts/header' %>
<!--/.Navbar-->
<br><br>
<main>
  <div class="jumbotron-col-lg-6-col-centered">
    <!--First row-->

    <%= link_to events_path, :class => "btn btn-primary" do %>
        Back
    <% end %>

    <% if flash[:notice] %>
        <div class="jumbotron" style="background-color:greenyellow;">
          <h2 class="h2-responsive">
            <div class="notice"><%= flash[:notice] %></div>
          </h2>
        </div>
    <% end %>




    <div class="jumbotron">

      <h2 class="h2-responsive"><%= @event.title %></h2>
      <br>
      <h4><%= @event.text %></h4>
    </div>

    <div class="jumbotron">
      <h2 class="h2-responsive">Location (want to plot on Google Maps)</h2>
      <br>
      <h4><%= @event.street %>, <%= @event.street_number %></h4>
      <%= @event.city %>

    </div>

    <div class="jumbotron">
      <h2 class="h2-responsive">Time & Tickets</h2>
      <br>
      <h4>From: <%= @event.start_date.to_date %>, <%= @event.start_time.strftime("%I:%M%p") %></h4>
      <h4>To: <%= @event.end_date.to_date %>, <%= @event.end_time.strftime("%I:%M%p") %></h4>
      <h4>Number of tickets available: <%= @event.available_tickets %></h4>
    </div>
    <br>

    <% if !time_surpassed? %>
        <div class="jumbotron">

          <h2>Comments & Ratings</h2>

          Original: <%= rating_for @event, "overall_score", disable_after_rate: true, imdb_avg: true, cancel_place: 'right' %>


          <% if logged_in? %>
              <br>
              Vibes: <%= rating_for @event, "vibes", enable_half: true, cancel_place: 'right' %>
              <br>
              Location: <%= rating_for @event, "location", enable_half: true, cancel_place: 'right' %>
              <br>
              Technical equipment: <%= rating_for @event, "tech_equipment", enable_half: true, cancel_place: 'right' %>
              <br>
              Internet: <%= rating_for @event, "internet", enable_half: true, cancel_place: 'right' %>
              <br>
          <% end %>
          <br>

          <%= render @event.comments %>

          <% if logged_in? %>
              <h2>Add a comment:</h2>
              <%= render 'comments/form' %>
          <% end %>


        </div>
    <% end %>
    <% if logged_in? %>
        <div class="jumbotron">
          <% if is_host? %>
              <%= link_to edit_event_path(@event), :class => "btn btn-primary" do %>
                  Edit event
              <% end %>
          <% end %>

          <% unless has_ticket?(@event) %>
              <% if time_surpassed? %>
                  <% if tickets_left? %>
                      <%= link_to event_tickets_path(@event, ticket: {user_id: current_user.id}), :class => "btn btn-primary", method: :post do %>
                          Book ticket
                      <% end %>
                  <% end %>
              <% end %>
          <% end %>
    <% end %>

    </div>

    <% if logged_in? %>
        <% if is_host? %>
            <div class="jumbotron">
              <h2>Progress of ticket sales</h2>
              <div class="row">
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="<%= @event.tickets_sold %>" aria-valuemin="0" aria-valuemax="<%= @event.available_tickets + @event.tickets_sold %>" style="min-width: 2em; width: <%= progress_bar_width(@event) %>%;" >
                    <%= @event.tickets_sold %> (<%= progress_bar_width(@event) %> %)
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                Users coming to your event
              </div>
            </div>
        <% end %>
    <% end %>

  </div>


</main>

